<form class="formOffice" [formGroup]="customerForm" (ngSubmit)="submitForm()">
    <fieldset>
        <legend>Client</legend>
        <p>
            <mat-form-field>
                <input matInput type="text" placeholder="Id" formControlName="id" disabled/>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="text" placeholder="Nom d'utilisateur" formControlName="username" required />
                <mat-error *ngIf="customerForm.get('username').hasError('required')">
                    Nom d'utilisateur <strong>requis</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="password" placeholder="Mot de passe" formControlName="customerPassword" required />
                <mat-error *ngIf="customerForm.get('customerPassword').hasError('required')">
                    Mot de passe <strong>requis</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="text" placeholder="Prénom" formControlName="firstName" required />
                <mat-error *ngIf="customerForm.get('firstName').hasError('required')">
                    Prénom <strong>requis</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="text" placeholder="Nom" formControlName="lastName" required />
                <mat-error *ngIf="customerForm.get('lastName').hasError('required')">
                    Nom <strong>requis</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="email" placeholder="Adresse e-mail" formControlName="email" required />
                <mat-error *ngIf="customerForm.get('email').hasError('email') && !customerForm.get('email').hasError('required')">
                    Format de l'adresse mail <strong>incorrect</strong>
                </mat-error>
                <mat-error *ngIf="customerForm.get('email').hasError('required')">
                    Adresse mail <strong>requise</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <span matPrefix style="margin-right:3px;">+32</span>
                <input matInput type="tel" placeholder="Numéro de téléphone" formControlName="phoneNumber" />
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="text" placeholder="Adresse" formControlName="customerAddress" required />
                <mat-error *ngIf="customerForm.get('customerAddress').hasError('required')">
                    Adresse <strong>requise</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field>
                <input matInput type="number" placeholder="Points de fidélité" formControlName="loyaltyPoints" required />
                <mat-error *ngIf="customerForm.get('loyaltyPoints').hasError('required')">
                    Points de fidélité <strong>requis</strong>
                </mat-error>
            </mat-form-field>
        </p>
        <p>
            <button mat-raised-button color="primary" type="submit">Ajouter utilisateur</button>
        </p>
    </fieldset>
</form>